@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');


@media (prefers-color-scheme: light) {
    :root {
        --text-color: black;
        --background-color: white;
        --mona-yellow: #fada00;
        --mona-yellow-darker: #f0d000;
        --code-background: #EFF1F3;
        --link-color: #ba8500;
        --table-border: #d9d9d9;
        --table-accent: #f9f9f9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #f3F3F3;
        --background-color: #1b1b1b;
        --mona-yellow: #5F05C5;
        --mona-yellow-darker: #5400b3;
        --code-background: #343434;
        --link-color: #457aff;
        --table-border: #9f9f9f;
        --table-accent: #2b2b2b;
    }
}


body {
    background: var(--background-color);
}

p, h1, h2, h3, h4, h5, ul, li, td, th, .project-report {
    transition: all 0.2s ease-out;
    color: var(--text-color);
}

.entry {
    text-align: justify;
    margin-top: 3em;
}

.entry, .presentation {
    margin: auto;
    max-width: 1000px;
}

#title {
    font-size: 6em;
    font-family: 'Vidaloka', serif;
    font-weight: 300;
}

#name {
    font-size: 2em;
    margin-top: -1em;
    margin-bottom: 2em;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 500;
}

/* Yellow circle */
#title:after {
    content: '';
    top: -0.5em;
    left: 0.5em;
    width: 4em;
    height: 4em;
    background: var(--mona-yellow);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
}

.entry-header {
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    text-align: left;
}

.entry-header span {
    border-bottom: 2px solid var(--text-color);
    padding-right: 5px;

}

.entry-paragraph:first-child {
    text-align: left;
    margin-top: 1em;
    text-indent: 1em;
}

.entry-paragraph {
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    hyphens: auto;
    margin: 11px 0;
}

code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--code-background);
    border-radius: 4px;
    padding: 0.2em 0.4em;
}

li {
    font-family: 'EB Garamond', serif;
    margin: 0.5em auto;
    font-size: 22px;
}

ul {
    margin-bottom: 1em;
}

a {
    color: var(--link-color);
    text-underline-offset: 2px;
}

table {
    font-size: 22px;
    font-family: 'EB Garamond', serif;
    width: 100%;
    text-align: right;
    margin: 0;
    border-collapse: collapse;
}

td, th {
    border: 0.5px solid var(--table-border);
    padding: 7px;
    color: var(--text-color);
}

th {
    background-color: var(--table-accent);
}

td:first-child {
    text-align: left;
    background-color: var(--table-accent);
    font-weight: bold;
}



video {
    width: 30%;
    display: block;
    margin: auto;
}

.media {
    margin: 3em auto;
}

@media only screen and (max-device-width: 540px) {
    #title {
        font-size: 13vw;
    }

    #name {
        font-size: 5vw;
    }

    .entry-header {
        font-family: 'EB Garamond', serif;
        font-size: x-large;
    }

    .entry-paragraph, li, th, td {
        font-size: 18px;
        max-width: 100vw;
    }

    .entry, .presentation {
        margin: auto;
    }


    td {
        min-width: 30vw;
    }

    code {
        font-size: 13px;
    }

    .table-container {
        overflow: scroll;
    }

    /* Yellow circle */
    #title:after {
        content: '';
        transform: translate(-40%, -30%);
        top: 0; left: 0;
        width: 5em;
        height: 5em;
        background: var(--mona-yellow);
        border-radius: 50%;
        z-index: -1;
        position: absolute;
    }
}

ul.checked-ul {
    list-style: none;
}

ul.checked-ul li::before {
    content: "• ";
}

ul.checked-ul li.done::before {
    content: "✅ ";
}

.project-report {
    margin: auto;
    max-width: 300px;
    background-color: var(--mona-yellow);
    border-radius: 20px;
    padding: 20px;
    font-weight: bolder;
    font-family: "EB Garamond";
    font-size: 24px;
    text-align: center;
    transition: all 0.25s ease-out;
    margin-bottom: 50px;
    height: 30px;
    cursor: pointer;
}

.project-report-text {
    margin: auto;
    line-height: 30px;
}

.project-report:hover {
    background-color: var(--mona-yellow-darker);
    filter: drop-shadow(0 0 10px var(--mona-yellow-darker));
    font-size: 24.2px;
    user-select: none;
}

.end-whitespace {
    height: 10vw;
    background: transparent;
    border: none;
}

.dark-theme {
    user-select: none;
    position: fixed;
    top: 1.5vh;
    right: 1.5vh;
    padding: 1vh;
    width: 5vh;
    height: 5vh;
    border-radius: 12px;
    transition: background 0.2s ease-out;
}

.dark-theme:hover {
    background-color: var(--code-background);
    cursor: pointer;
}

.dark-theme .icon {
    display: block;
    position: relative;
    margin: auto;
    transform-origin: center;
    transition: transform 0.5s ease-out;
    max-height: 4.8vh;
}

.rotate-container {
    transform-origin: center;
    transform: rotate(-135deg);
}

.inverted {
    filter: invert(1);
}
